 {
   "presets": [
     "es2015",
     "stage-3"
   ],
   "plugins": [
     [ "syntax-async-functions"],
     [ "transform-decorators-legacy"],
     ["transform-runtime", {
       "polyfill": false,
       "regenerator": true
     }]

   ],
   "comments": false,
   "compact": true
 }