.editor {
  display: table;
  background: #fff;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  padding: 1rem 2rem 2em 2rem;
}
.simditor {
  display: table-cell;
  text-align: left;
}
#markdown{
  display: table-cell;
  vertical-align: top;
  width: 100%;
  padding: 1rem;
  border: #00d95a;
}

.editor-option{
  display: table-cell;
  vertical-align: top;
  width: 20%;
  height: 100%;
  padding: 1rem;
  border: 1px solid#c2c2f2;
  border-left-color: #fffffc;
  &:before{
    content: '';

  }
}
.md-select-content {
  width: 14rem;
}

.simditor .simditor-body {
  min-height: 400px;
}