.editor {
  display: table;
  background: #fff;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 1rem 2rem 2em 2rem;
  .row {
    display: table-row;
  }
  .editor-option{
    display: table-cell;
    vertical-align: top;
    width: 20%;
    height: 120%;
    padding: 1rem;
    border: 1px solid#c2c2f2;
    border-left-color: #fffffc;
    &:before{
      content: '';

    }
  }
  .quillWrapper {
    display: table-cell;
    .ql-container {
      height: 90%;
    }
  }
}
#markdown{
  display: table-cell;
  vertical-align: top;
  width: 100%;
  padding: 1rem;
  border: #00d95a;
}


.md-select-content {
  width: 14rem;
}

.simditor .simditor-body {
  min-height: 400px;
}