.main-wrapper {
    margin: 0.2em auto;
    width: 80%;
    padding: 1em;
    text-align: center;
}
hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}